<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style2.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body style="display:block;">
    <div class="wrapper">
      <div class="sidebar">
        <header>
          <!--
          <img class="img-circle" rel="prefetch" src="{{ "/assets/img/qr.png?v=" | append: site.github.build_revision | relative_url }}">
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>    
          <p>{{ site.description | default: site.github.project_tagline }}</p>
					//-->
          {% include sidebar.html %}
        </header>
        <div class="sidebar-footer">
          {%- include sidebar-footer.html -%}
        </div>
      </div>
      <section>
      {{ content }}
      </section>
      <footer>
        {%- include footer.html -%}
      </footer>
    </div>
    {% include cookie-consent.html %}
  </body>
</html>